nav {
  a {
    display: block;
    font-family: $base-font-family;
    font-weight: $font-weight-regular;
    font-size: 1em;
    line-height: 1.4em;
    color: $noah-mid-gray;
    padding: 0;
    text-decoration: none;
  }
}
