/**
 * Colors
 */
$noah-white: #FFFFFF;
$noah-off-white: #F0F0F0;
$noah-light-gray: #E8E8E8;
$noah-mid-gray: #C4C4C4;
$noah-black: #000000;

$noah-yellow: #F9BD4F;
$noah-magenta: #FF3AB4;
$noah-blue: #1500FF;
$noah-green: #7ED321;
$noah-purple: #9013FE;
$noah-pink: #FF8DEC;

/**
 * Typography
 */
$base-font-family: 'IBM Plex Sans', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 800;

/**
 * Grid
 */
$grid-max-width: 1000px;
$grid-gutter-width: 40px;
$grid-bkpt-tablet: 1024px;

/**
 * Animations
 */
$base-animation-time: 100ms;
